/* ======= Colors ======= */
$back-color1: white;
$headers-orange: #F39E1D;
$main: black;

/* ======= Scroll ======= */

::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:5px;
height:0px
}

::-webkit-scrollbar-track {
background-color: $back-color1;
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color:$headers-orange;
}

::-webkit-scrollbar-thumb:hover{
background-color:$headers-orange;
}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:4px;
height:0px
}

::-webkit-scrollbar{
width: 14px;
}

body {
  font-family: 'Montserrat-Regular', arial, sans-serif;
  font-weight: 400;
  color: $main;
  background-image: url(../images/gold-geometric-abstract-pattern_97886-10061.png);
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
h1 {
  font-family: 'Montserrat-Regular', arial, sans-serif;
  font-weight: 1000;
  font-size: 80px;
}
h2 {
  font-family: 'Object Sans Heavy', arial, sans-serif;
  font-weight: 600;
  font-size: 40px;
}
h3 {
  font-family: 'Object Sans Heavy', arial, sans-serif;
  font-size: 30px;
}
p {
  margin-bottom: 15px;
  line-height: 1.5;
}
a {
  color: $main;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: none;
  color: $headers-orange;
}
a:active {
  text-decoration: none;
  color: $headers-orange;
}
img {
  pointer-events: none;
}
/* ======= Header ======= */
.header {
  position: fixed;
  width: 100vw;
  background: $back-color1;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: all 0.5s ease;
  z-index: 1000;

  .container{
    height: 100%;
    max-width: 90%;

    .navbar {

      .logo {
          display: flex;
          align-items: center;
          height: 80px;

          img {
            height: 50%;
          }
        }

      .navbar-nav {
        font-weight: 500;
        letter-spacing: 0.5px;
        text-align: center;
        align-items: center;
        
        .nav-item {

          a:hover, 
          .active {
            color: $headers-orange;
            transition: all 0.2s ease;
          }
          a {
            margin: auto 1em;
            padding: 0;
          }

        }

      }
    }
  }
}

.header-scrolled {
  background: $back-color1;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;

  a:hover, .active {
    color: $headers-orange !important;
  }
}

.mobile {
  width: 100%;
  height: 100%;
  background: $headers-orange;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;

  .container {
    .navbar {
      .navbar-nav {

          .nav-logo {
            display:none;
          }
        
          a {
            margin-right: 0;
            font-size: 30px;
          }
          a:hover, .active {
            color: $back-color1 !important;
          }
        
      }
    }
  }
}
/* ======= Main ======= */
.main-section {
  position: relative;
  height: 100vh;
  min-height: 800px;
  overflow: hidden;
  background: $back-color1;
  background-position: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .back-images {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;

    .back-img {
      position: absolute;
    }
  }

  .container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
    z-index: 2;

    .title {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      .form-group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .form {
          width: 260px;
          padding: 14px 50px;
          margin-bottom: 1em;
          background-color: $headers-orange;
          -webkit-border-radius: 45px;
          -moz-border-radius: 45px;
          border-radius: 45px;
          border: none;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }
        .form:hover {
          background-color: $back-color1;
        }
        .button {
          background-color: $headers-orange;
          transition: all 0.5s ease;
        }
        .button:hover {
          background-color: $back-color1;
          color: $headers-orange;
          transition: all 0.5s ease;
        }
        .button:focus {
            outline: none;
        }
      }
    }
  }
}